/* Estilo para el DatePicker */
* {
    -fx-primary-color: #007acc;
    -fx-secondary-color: #4B6EAF;
    -fx-light-grey-color: #5da1ec;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px;
    -fx-font-family: "System"; /* Fuente */

}

.date-picker {
    -fx-background-color: #ffffff; /* Color de fondo */
    -fx-text-fill: #464646; /* Color del texto */
    -fx-font-size: 14px; /* Tamaño de fuente */
    -fx-border-width: 1px; /* Ancho del borde */
    -fx-border-color: #3f6baf; /* Color del borde */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px; /* Radio del borde */

    /* Estilo para el icono del calendario */
    -fx-background-repeat: no-repeat;
    -fx-background-position: 95% center; /* Alinea e
    /* Ruta a la imagen del icono del calendario */
}

/* Estilo para el DatePicker enfocado */
.date-picker:focused {
    -fx-border-color: #0078d4; /* Color del borde enfocado */
    -fx-background-radius: 15px;
    -fx-border-radius: 15px; /* Radio del borde */

}

.date-picker .arrow-button {
    -fx-background-color: -fx-primary-color;
    -fx-background-radius: 15px;
    -fx-border-radius: 15px; /* Radio del borde */
}
.date-picker .arrow-button:hover {
    -fx-background-color: -fx-secondary-color;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker .arrow-button .arrow {
    -fx-background-color: white;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker .cell {
    -fx-background-color: white;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker .cell:hover {
    -fx-background-color: -fx-light-grey-color;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker .cell:focused {
    -fx-background-color: -fx-light-grey-color;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker .selected {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-border-radius: 15px; /* Radio del borde */
}
.date-picker .selected:focused {
    -fx-background-color: -fx-primary-color;
    -fx-text-fill: white;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker-popup  {
    -fx-border-color: transparent;
    -fx-border-radius: 15px; /* Radio del borde */


}
.date-picker-popup .month-year-pane {
    -fx-background-color: -fx-primary-color;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker-popup .month-year-pane .label {
    -fx-text-fill: white;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker-popup .week-number-cell {
    -fx-text-fill: -fx-secondary-color;
    -fx-border-radius: 15px; /* Radio del borde */

}
.date-picker-popup .spinner .button .left-arrow,
.date-picker-popup .spinner .button .right-arrow {
    -fx-background-color: white;
    -fx-border-radius: 15px; /* Radio del borde */


}

.error-field {
    -fx-border-color: red;
    -fx-border-width: 2px;
}

